# Mac DS store 제외 
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# ipynb files
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# 강의 파일 공개 제외
*lesson*.pdf


# 실습 데이터 무시 
#genome_scores.csv
#rating.csv
**/data/*

